
@{
    ViewBag.Title = "Abount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>关于我们</h2>
<p>
    <a href="@Url.Action("Index")">www.WCGChairBuy.com</a>是一个专注与电竞座椅售卖的在线商城，我们提供最专业的服务，最优惠的价格。
</p>
<p>更重要的是我们提供个性化的定制服务！</p>
